body {
  background-color: #423e3e;
  font-family: 'Roboto', sans-serif;
}

a, a:hover, a:visited, a:active, a:link {
  text-decoration: none;
  color: inherit;
}

.flex-container {
  display: none;
  margin: auto;
  margin-top: 20vh;
  width: 520px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-container .fas {
  font-size: 10em;
  margin: 50px;
  color: #66FCF1;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  text-shadow: 2px 2px #45A29E;
}

.flex-container .fas:hover {
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.page {
  margin: auto;
  width: 60vw;
}

h1 {
  text-align: center;
  font-size: 5em;
  color: #3fff00;
  text-shadow: 0px 0px 1px #3fff00;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex .container {
  text-align: center;
  background-color: rgba(0, 204, 20, 0.5);
  min-width: 400px;
  border-radius: 3em;
  margin-bottom: 1em;
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
  -webkit-box-shadow: 2px 2px 1em black;
          box-shadow: 2px 2px 1em black;
  text-shadow: 0 0 1px darkslategrey;
}

.flex .container:hover {
  background-color: #00cc14;
  -webkit-box-shadow: 0 0 2em #00cc14;
          box-shadow: 0 0 2em #00cc14;
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
}

.flex .container .title {
  background-color: transparent;
  font-size: 1.3em;
  padding: 15px 0;
}

.flex .container .pic {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 20em;
}

.flex .container .pic img {
  display: block;
  margin: auto;
}

.flex .container .desc {
  background-color: transparent;
  padding: 15px 0;
}

.right-corner {
  position: absolute;
  right: 10px;
  top: 10px;
}

.right-corner .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right-corner .contact .fab {
  font-size: 2em;
  margin-left: 10px;
}

.right-corner .contact .fab.fa-linkedin {
  background: radial-gradient(circle at center, white 63.5%, transparent 0%);
  color: #008fc4;
}

.right-corner .contact .fab.fa-linkedin:hover {
  text-shadow: 0 0 3px white;
  cursor: pointer;
}

.right-corner .contact .fab.fa-github-square {
  color: #23282E;
  background: radial-gradient(circle at center, white 63.5%, transparent 0%);
}

.right-corner .contact .fab.fa-github-square:hover {
  text-shadow: 0 0 3px white;
  cursor: pointer;
}

@media only screen and (max-width: 425px) {
  h1 {
    font-size: 2em;
  }
  .page {
    width: 100%;
  }
  .flex .container {
    min-width: 340px;
  }
  .flex .container .title {
    font-size: 1em;
  }
  .flex .container .pic {
    min-height: 0px;
    padding: 10px 0;
  }
  .flex .container .pic img {
    width: 95%;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 2em;
  }
  .page {
    width: 100%;
  }
  .flex .container {
    min-width: 0px;
  }
}
/*# sourceMappingURL=style.css.map */